*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
} 
header{ 
    width: 100%; 
    height: 1300px;
    background-image:url(../images/hero-bg.png) ; 
    background-size: cover; 
    
} 
nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
} 
@font-face{
    font-family: "Poppins"; 
    src:url("../fonts/Poppins/Poppins-Bold.ttf") format(truetype);
}
.logo{
    display: flex; 
    align-items: center; 
    padding: 5px;
    font-family: "Poppins"; 
    font-size: 23px;
} 
.logo>img{
    width: 30px; 
    margin: 10px;
} 
ul{
    list-style-type: none;
    overflow: hidden;
} 
ul>li{
    float: left; 
    font-size: 23px;
    color: white; 
    padding: 10px 20px;
} 
@font-face{
    font-family: "Poppins-regular"; 
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}
ul>li a{
    text-decoration: none; 
    padding:10px 10px; 
    font-size: 18px;
    color: white; 
    font-family: "Poppins-regular"; 
    
} 
.jewelheader{
    width: 80%; 
    display: flex;
    margin: 100px auto; 
    justify-content: center; 
    align-items: center;
} 
.texthead, .textabout{
    width: 50%; 
    padding: 20px;
} 
.texthead>h2,.headcontain>h2{
    font-size: 32px; 
    font-family: "Poppins-regular"; 
    font-weight: 100; 
    
} 
.texthead>h1, .textabout>h1{
    font-size: 80px; 
    font-family: "Poppins"; 
    
} 
.texthead>p, .textabout>p{
    
    font-family: "Poppins-regular"; 
    
} 
.shop, .seebtn{
    background-color: black; 
    font-size: 20px; 
    font-family: "Poppins-regular"; 
    color: white; 
    padding: 5px 30px; 
    margin: 20px 0px; 
    display: block;
} 
.ring{
    background-image: url(../images/sliderimg.png); 
    background-position: center;
    width: 50%; 
    height: 500px; 
    background-repeat: no-repeat; 
    background-size: contain;
} 
#bestprice{
    width: 80%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 40px auto; 
    height:500px;
} 
.best{
    width: 300px; 
    height: 180px; 
    font-family: "Poppins-regular"; 
    box-shadow: 2px 1px 1px gray; 
    margin: 10px; 
    padding: 20px; 
    transition: box-shadow;
} 
.best:hover{
    box-shadow: 2px 4px 8px;
}
.best>strong{
    color: gold; 
    font-weight: 100;
    
} 
.best>img{
    width: 40%; 
    margin: auto; 
    display: block;
} 
.best>h1{
    font-size: 20px;
} 
#About{
    width: 80%; 
    height: 700px; 
    margin: auto; 
    padding: 20px 0px ; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 
.textabout{
    width: 45%;
} 
.smalldecor{
    width: 10px; 
    height: 30px; 
    background-image: linear-gradient(to right, orange,  gold , white ); 
    margin: 10px;
} 
.headcontain{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}   
.bracelets{
    width: 55%; 
    height: 500px;
    background-image: url(../images/about-img.png); 
    background-repeat: no-repeat;
     background-size: contain;
} 
#Jewellery{
    width: 100%; 
    height: 1900px;
     background-color: rgba(220, 220, 220, 0.327); 
     padding: 50px 150px;
} 
.jewelleryprice{
    width: 99%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* margin: auto; */ 
    flex-wrap: wrap;
}
.product{
    width: 300px; 
    height: 550px; 
    box-shadow:1px 1px 1px gray ; 
    background-color: white;
    margin: 10px;
} 
.jewelimg{
    width: 150px; 
    height: 150px; 
    margin: auto;
    padding: 50% 0px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
} 
.product>strong{
     font-size: 20px;  
    text-align: center;
    display:  block; 
    margin: auto;
} 
.product>p{
    text-align: center; 
    color:gold;
    font-size: 25px; 
    font-weight: 800;
} 
.jewelbtn{
    padding: 5px 20px; 
    border: 1px solid black; 
    background-color: transparent; 
    font-weight: 800;
    display: block;
    margin: 20px auto;
} 
.seebtn{
    margin: auto;
}
#special{
    width: 80%; 
    height: 400px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 2px 4px 8px; 
    margin: 50px auto; 
    padding: 20px; 
    
} 
.reklama{
    width: 40%; 
    font-family: "Poppins-regular"; 
    text-align: center;
} 
.reklama>strong{
    color: gold; 
    font-size: 25px; 
    font-weight: 100;
} 

.wedrings{
    background-image: url(../images/ring-img.jpg); 
    width: 60%; 
    height: 300px; 
    background-repeat: no-repeat;
}
.buy{
    background-color: white; 
    padding: 5px 30px; 
    font-weight: 600;
} 
#testimonial{
    width: 100%; 
    height: 300px; 
    text-align: center;
} 
#testimonial h2{
    text-align: center;
}
.comment{
    width:70% ; 
    height: 180px; 
    border: 1px solid gold; 
    margin: auto; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}
.photoclient{
    background-image: url(../images/client.png); 
    width: 150px; 
   height: 150px; 
   background-repeat: no-repeat;
} 
.headcontaintest{
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-weight: 100;
} 
.clienttext{
    width: 50%; 
    display: flex; 
    justify-content: center; 
    font-size: 18px;
} 

#testimonial >p{
    font-size: 25px;
} 
#testimonial strong{
    font-size: 25px;
} 
#testimonial span{
    color: gold; 
    font-size:18px ; 
    font-weight: 500;
} 
.nameclient{
    text-align: left;
} 
.carousel-control-prev{
    background-image: url(../images/prev-black.png); 
    background-repeat: no-repeat; 
    position: relative; 
    top: -80px; 
    left: 120px; 
    width: 10%;
} 
.carousel-control-next{
    background-image: url(../images/next-black.png); 
    background-repeat: no-repeat; 
    position: relative; 
    left: 90%; 
    width: 10%; 
   top:-120px
} 
#Contactus{
    width: 100%; 
    height: 500px; 
    padding: 50px;
} 
.contact{
    width: 80%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
     margin: auto;
} 
.form{
    width: 50%; 
} 
.map{
    width: 50%;
} 
input,textarea{
    width: 80%;
} 
footer{
    background-color: white; 
    padding:10px;
     color: black; 
     text-align: center; 
     font-size: 30px;
} 
.footfoto{
    background-image: url(../images/Изображение\ WhatsApp\ 2024-06-30\ в\ 20.12.00_4b603ed3.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    width: 50%; 
    height: 80px; 
    margin: auto;

}
@media only screen and (max-width:990px){ 
    header{
        height: 850px;
    } 
    .menu{
        width: 70%;
    }
    .jewelheader{
        width: 90%; 
        margin-top: 20px;
    }
    .texthead, .textabout{
        width: 55%; 
        padding: 10px;
    } 
    .ring{ 
        width: 45%;
        height: 200px; 
        padding: 35px;
    } 
    #bestprice{
        height: 300px; 
        margin: 20px auto;
    } 
    #Jewellery{
        padding: 30px 100px; 
        height: 2800px;
    } 
    .product{
        width: 250px; 
        height: 500px;
    } 
    .jewelimg{
        width: 230px; 
        height: 80px; 
        margin: auto;
    } 
    .jewelleryprice{ 
        width: 100%;
        flex-wrap: wrap;
    } 
    .product>p{
        margin:  0px 0px;
    } 
    .comment{
        width: 90%;
    } 
    #Contactus{
        padding: 50px; 
        height: 500px;
    }
    
} 
@media only screen and (max-width:600px){
    .menu{
        width: 80%;
    } 
    ul>li{
        padding: 5px 5px;
        color: black;
    } 
    ul>li a{
        color: black;
    } 
    .texthead>h1, .textabout>h1{
        font-size: 60px;
    } 
    .jewelheader{
        margin: 10px;
    } 
    #bestprice{
        flex-wrap: wrap;
    } 
    header{
        height: 1500px;
    } 
    .bracelets{
        width: 45%; 
        height: 300px;
    } 
    .textabout{
        width:60% ;
    } 
    #About{ 
        width: 100%; 
        height: 600px;
        margin: 0;
    } 
    #Jewellery{
        padding: 5px 10px; 
        height: 4850px;
    } 
    #special{ 
        width: 90%; 
        height: 450px;
        margin: auto;
    } 
    #testimonial{
        height: 400px;
    }
    #testimonial h2{
        margin: 10px 0px 0px 0px;
    } 
    .comment{
        width: 98%; 
        height: 300px; 
        flex-wrap: wrap;
    } 
    .clienttext{
        width: 100%;
    } 
    #Contactus{
        padding: 20px; 
        height: 600px;
    } 
    .form{
        width: 60%;
    }
    input, textarea{
        width: 100%;
    } 
    .contact{
        width: 90%; 
        flex-wrap: wrap;
        margin: 15px 0px 0px 0px; 
        
    } 
    .map{
       width: 90%; 
       height: 250px; 
       margin: 15px 0px 0px 0px;
    } 
    footer{
        font-size: 20px; 
        padding: 10px;
    } 
    .footfoto{
        width: 30%; 
        height: 60px;
    }
}
